* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #ffffff;
  font-family: Arial, sans-serif;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

.container {
  display: flex;
  width: 90vw;
}

.slide {
  position: relative;
  height: 80vh;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  border-radius: 50px;
  color: #ffffff;
  cursor: pointer;
  margin: 10px;
  flex: 0.5;
  transition: opacity 0.2s, flex 0.5s;
}

.slide h2 {
  font-size: 25px;
  position: absolute;
  bottom: 30px;
  left: 30px;
  white-space: nowrap;
  opacity: 0;
}

.overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  border-radius: 50px;
  opacity: 0;
  transition: .5s ease;
  background-color: #000000;
}

.slide:not(.active):hover .overlay {
  opacity: 0.2;
}

.slide.active {
  flex: 4;
  box-shadow: inset 0 -3em 3em rgba(0, 0, 0, 0.1), 0 0 0 2px rgba(0, 0, 0, 0),
  0.3em 0.3em 1em rgba(0, 0, 0, 0.3);
}

.slide.active h2 {
  opacity: 1;
  transition: opacity 1s;
}

@media(max-width: 700px) {
  .container {
    width: 100vw;
  }

  .slide:nth-of-type(4),
  .slide:nth-of-type(5) {
    display: none;
  }
}

